.icon-container {
  position: fixed;
  bottom: 200px;
  right: 60px;
  z-index: 1000;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.5s;
  &:hover {
    background-color: #25d366;
  }
  .icon {
    color: white;

    svg {
      background-color: #25d366;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }
}
