body {
  overflow: hidden;
}

main {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  transition: 1s;
}

.projects {
  &-main {
    background-image: url("/img/background/main.webp");
  }
  &-viviendas {
    background-image: url("/img/background/projects-viviendas.webp");
  }
  &-comercial {
    background-image: url("/img/background/projects-comercial.webp");
  }
  &-deptosph {
    background-image: url("/img/background/projects-deptosph.webp");
  }
}

.info-background {
  background-image: url("/img/background/info.webp");
}

.contact-background {
  background-image: url("/img/background/contact.webp");
}
