.home-section-container-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 0 1rem;

  .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .left-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: right;

    span {
      position: absolute;
      width: 100%;
      left: 200px;
      top: 35%;
      text-align: left;
      font-weight: 800;
      font-size: 110px;
      color: white;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
    }
  }
}

@media (width <= 1536px) {
  .home-section-container-main {
    .left-container {
      span {
        left: 150px;
        font-size: 80px;
      }
    }
  }
}
